.newMessage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  /* margin: 5px; */
  padding: 10px;

}

.newText {
  grid-column: 1/3;
  grid-row: 1/2;
}

.newText textarea {
  resize: none;
  white-space: pre-wrap;
  width: 100%;
  font-size: 14px;
  padding: 5px;
}

.newMessageButton {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 5px;
}

.posts {
  height: 480px;
  overflow-y: auto;
}

.posts img {
  width: 80px;
}