.usersWrapper {
  height: 820px;
  display: grid;
  grid-template-columns: 100px 1fr 400px;
  grid-template-rows: 80px 100%;
  padding: 10px;

}

.paginator {
  cursor: pointer;
  margin: 15px;
  text-align: center;
  grid-column: 2/3;
}

.allUsers {
  height: 750px;
  overflow-y: scroll;
  grid-column: 1/3;
  grid-row: 2/3;
}

.user {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 10px;

}

.avaAndFollow {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 30px;
  gap: 2px;
}

.ava img {
  width: 80px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.followButton {
  grid-column: 1/2;
  grid-row: 2/3;
}

.followButton button:hover {
  border: 3px solid #363636;
}


.followButton button {
  width: 80px;
  height: 30px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  border: 1px solid darkgray;
  border-radius: 10px;
  cursor: pointer;
}

.follow {
  background: #915353;
}

.unfollow {
  background: #4d5583;
}

.mainInfo {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 10px;
}

.name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.status {
  grid-column: 1/4;
  grid-row: 3/4;
}

.country {
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: right;
}

.city {
  grid-column: 4/5;
  grid-row: 3/4;
  text-align: right;
}

.selectedPage {
  font-weight: bold;
  text-decoration: underline;
  color: #915353;
}

.startPage::before {
  content: ' \3C\3C ';
}

.pageDown::after {
  content: ' \3C ';
}

.pageUp::before {
  content: ' \3E ';
}

.endPage::before {
  content: ' \3E\3E ';
}

.item {
  color: #915353;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 4px;
  padding-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.item:hover {
  background-color: #915353;
  color: white;
  font-weight: bold;
}

.pageNumber {
  padding-left: 1px;
  padding-bottom: 3px;
  padding-right: 1px;
  margin-left: 2px;
  margin-right: 2px;
}

.pageNumber:hover {
  background-color: #915353;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 1px;
  padding-bottom: 3px;
  padding-right: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.lists {
  margin: 15px;
}

.list1 {
  padding: 5px;
}

.list2 {
  padding: 5px;
}