.messages {
  color: blueviolet;
  height: 700px;
  overflow-y: scroll;
}

.newMessage {
  /* width: 1200px; */
  display: grid;
  grid-template-columns: 5fr 180px;
  grid-template-rows: 1fr 20px 5px;

}

.text {
  grid-column: 1/2;
  grid-row: 1/2;
}

.sendMessage {
  grid-column: 1/2;
  grid-row: 2/3;
}

.newMessage textarea {
  resize: none;
  white-space: pre-wrap;
  width: 100%;
  font-size: 18px;
  padding: 5px;
}